.bg-img {
  background-image: url("MO.jpg");

  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.bg-transbox {


  background-color: #c0B79e;
  background: rgba(192, 183, 158, .75)
}

.bg-transbox h1{
  color: white;
  font-weight: bold;
}

/* Position the navba r container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  align-items: left;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
  text-align: left;
  padding-top: 20px;
}

svg {
  width: auto;
  height: auto;
  fill: black;
  stroke: black;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-color: white;
  }

.bgcontainer{
   height: 70px; /* Set the height of your container */
   background-color: #bea493; /*Set the background color */
  position: sticky;
  /* overflow: hidden; */
}

  html{
    scroll-behavior: smooth;
}

.container{
  
  padding: 10px 0%;
}
  
nav{
  display: flex;
  width: 100%;
  align-items: left;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  background-color: #bea493;
  top: 0;
  font-family: sans-serif;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 20px 35px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 10;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  transition: transform 0.3s ease;
}

.dropdown:hover .arrow-down {
  transform: translateY(-50%) rotate(180deg);
}

.color-container{
  background-color: #dcae96;
  display: inline;
}

.header-text{
  font-family: sans-serif;
  font-size:15px;
  text-align: center;
  padding: 25px 0;
  margin-top: 12px;
}

.header-text h1{
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  margin-top: 25px;
  font-weight: 500;
}

.header-text p span{
  color: #000;
  font-family: sans-serif;
  font-size: 25px;
}

/* About Us page */
#about{
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.about-text{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20px;
  font-size: 30px;
}

/* FAQ page */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

/* Button */
.btn{
  font-family: sans-serif;
  font-weight: 100;
  display: block;
  background: #04AA6D;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #04AA6D;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transform: background 0.5s;
}

.btn:hover{
  background: #000;
}



/* Text area */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical
}
input[type=submit]{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #04AA6D;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

/* Products */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.product-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.product-box {
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}

button.add-to-cart {
  padding: 10px 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.add-to-cart:hover {
  background-color: #000;
}

.cart {
  margin-top: 20px;
  text-align: center;
}

#cart-btn {
  padding: 10px 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cart-btn:hover {
  background-color: #000;
}


.hidden {
  display: none;
}

#cart-items {
  border: 1px solid #fff;
  padding: 20px;
}

#cart-list {
  list-style: none;
  padding: 0;
}

#cart-list li {
  margin-bottom: 10px;
}


a {
  color: #04AA6D; 
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


li {
  margin-bottom: 10px;
}


ul:not(:first-of-type) {
  margin-top: 20px;
}

.button-container {
  display: inline;
  justify-content: space-around; 
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  margin-top: 100px;
  margin-left: 225px;
}

.button:hover {
  background-color: #000;
}

#checkout-btn {
  padding: 10px 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checkout-btn:hover {
  background-color: #000;
}

#view-more-btn{
  padding: 10px 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#view-more-btn:hover {
  background-color: #000;
}

.view-more {
  width: 100%; 
  text-align: center;
  margin-top: 20px; 
}

.product-box img {
  max-width: 100%; 
  height: auto; 
  display: block;
  margin: 5%;
  padding: 10%;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.products-box {
  width: calc(25% - 20px); /* Adjust for margins */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products-box img {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
  display: block;
}

.products-box a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
}

.products-box:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

div.scroll-container {
  background-color: #f2f2f2;
  overflow: auto;
  white-space: wrap;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

div.scroll-container img {
  padding: 10px;
}