*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    color: #b9b5b5;
}
#about{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.about-text{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width:100%;
    border-radius: 15px;
    height: 685px;
}

.about-col-2{
    flex-basis: 60%;
    text-align: center;
}